<body>
<nav class="navbar navbar-expand-lg" id="menuPrincipal">
    <div class="col-xs-20 col-sm-10 col-md-10" id="navbar" style="padding: 20px;">
      <div class="navbar-nav">
        <div class="navbar-collapse" style="padding: 20px;">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="marcadores">
                <a class="btn btn-outline-success my-2 my-sm-0" id="signup" href="/signup">REGISTRARSE</a>
                {% if User_register.is_active %}
                <a class="btn btn-outline-success my-2 my-sm-0" id="login" href="/login">LOGIN</a>
                {% else %}
                <a class="btn btn-outline-success my-2 my-sm-0" id="logout" href="/logout">CERRAR SESIÓN</a>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
<!-- HEADER -->
<div class="fh5co-loader"></div>
<div id="page">
<nav class="fh5co-nav" role="navigation">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-2">
            <link rel="icon" type="../static/favicon.ico" href="../static/favicon.ico">
            <div id="fh5co-logo"><a href="index.html"><img src="../static/logo2.jpg" alt="" name="logo"></a></div>
        </div>
        <div class="col-md-6 col-xs-6 text-center menu-1">
            <ul>
                <li class="has-dropdown">
                    <a href="/ejemplares">Ejemplares</a>
                </li>
                <li><a href="about.html">Quienes Somos</a></li>
    
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
</div>
</nav>
</body>