{% extends "base.html" %}{% block title %} HOME {% endblock %} {% block content%}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>HOME</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
        crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" 
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" 
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" 
        crossorigin="anonymous"></script>    
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0-rc.1/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<!-- HEADER -->    
<body>
<style background-color : #2C1C04>  </style>
   <h1> HAR</h1>
   <h3> Harlandis R.</h3>
    <div class="logotitle animated fadeInDown">
            <div class="title">
                <a href="/">home</a>
            </div>
	            
	 </div>   
        <div class="nav">
         
           <li><a href="{URL}"></a></li>
           <li><a href="/ask">Ask</a></li>
            <li><a href="/submit">Submit</a></li>    
            <li><a href="/archive">archive & categories</a></li>
            <li><a href="{RSS}">RSS</a></li>
        
    </div>
    

<!-- CONTENT -->    

<div class = "autopagerize_page_element" >   
        <div class="posts">
          
              <div class="media"><img src="{PhotoURL-HighRes}" alt="{PhotoAlt}" /></div>
              <div class="photoCaption"></div>
        
          
      
              <div class="media"></div>
              <div class="caption"></div>
    
           
         
             <div class="audioleft">
                <div class="audioc">
                <div class="audio"></div>
                </div>
             </div>
             <div class="audioright"> 
                <div class="audioCaption"><b></b>
<p>&mdash;</p>
                </div>
             </div>
             <div class="audioClear"></div>
             <div class="audioContainer">
               
             </div>
          
             <div class="media"></div>
             <div></div>
        
          
        
             <h3>asked:</h3>
           </div>
           
        <div class="header-posts">

              <h2><a href="{Permalink}"></a></h2>
              <h2><a href="{URL}" {Target}> &rarr;</a></h2>
              <div></div>
              <div class="quote"></div>
             <div id="quoteSource"><p>&mdash; </p></div>          
            <h2></h2>
             <ul class="chat">
                <li><strong></strong> </li>
             </ul>
          </div>
          
                    <div class="tags">
                            <li>
                                <a href="{TagURL}">#</a>
                            </li>
                    </div>
        
        <div class="meta">
           <div class="datenotes">
           <span class="date"><a href="{Permalink}"></a></span>
          <a href="{Permalink}#notes"></a>

           
           </div>
           
           <div class="like-button"></div>
           
           <div class="reblog-button"></div>
           
        </div>
               
</div>

<!-- PAGINATION --> 


        <div class="pagination">
           <ul class="clearfix">
             <li><a href="{PreviousPage}" id="newer">Newer</a></li>
             <li><a href="{URL}" class="active"></a></li>
             <li><a href="{URL}"></a></li>
             <li><a href="{NextPage}" id="older">Older</a></li>
           </ul>
        </div>


<!-- FOOTER --> 

<div class="footer">
    <br>
              <strong><p><a href="http://themes.theultralinx.com/?utm_source=ultrazen%20theme&utm_medium=link&utm_campaign=ultrazen%20theme%20footer%20credit">UltraZen Theme by UltraLinx</a></p></strong>
     </div>

</div>

</body>
</html>
{% endblock%}