{% extends "base.html" %}{% block title %} VIEW ALL {% endblock %} {% block content%}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="imagenes/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
</head>

<body>


  <form method="POST" action="#" class="form">
    <fieldset>
      <br>
      <br>
      <h3 aling="center"> Acceso a su cuenta</h3>
      <br>
      <div class="form-group">
        <label for="email"> Usuario:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="E-mail" />
      </div>
      <div class="form-group">
        <label for="contrasena1"> Contraseña:</label>
        <input type="password" class="form-control" id="contrasena1" name="contrasena1" placeholder="******" />
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </fieldset>
  </form>
</body>
{% endblock%}